<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>insert_pokemon</title>
</head>
<body>
  <a href="/pokemon">一覧に戻る</a>
  <hr>
 <table border=1>
   <tr>
        <td>図鑑番号</td>
        <td>名前</td>
        <td>攻撃</td>
        <td>防御</td>
        <td>HP</td>
        <td>タイプ</td>
    </tr>   
    <tr>
        <td>No.<%= data[0].number %></td>
        <td><%= data[0].name %></td>
        <td><%= data[0].attack %></td>
        <td><%= data[0].defence %></td>
        <td><%= data[0].hp %></td>
        <td><%= data[0].type %>
        <% if(data[1]){ %>
          <%= "・" + data[1].type %>
        <% } %>
        </td>
    </tr>
    </table>
  <hr>
  <h2>このポケモンの情報を更新する</h2>
  <form action="/pokemon/update">
    <select name="up">
      <option value="number">図鑑番号</option>
      <option value="name">名前</option>
      <option value="attack">攻撃種族値</option>
      <option value="defence">防御種族値</option>
      <option value="hp">HP種族値</option>
    </select>
    ：<input type=text" name="data" size="8">
    <input type="hidden" name="id" value="<%= data[0].id %>">
    <input type="submit" value="更新"><br>
  </form>
  <h3>このポケモンのタイプを更新する</h3>
  <form action="/pokemon/update/type">
    変更するタイプ：
    <select name="typeup">
      <option value="<%= data[0].typenum %>"><%= data[0].type %></option>
      <% if(data[1]){ %>
        <option value="<%= data[1].typenum %>"><%= data[1].type %></option>
      <% } %>
    </select><br>
    新たなタイプ：<input type=text" name="type" size="8">
    <input type="hidden" name="id" value="<%= data[0].id %>">
    <input type="submit" value="更新"><br>
  </form>
  <h3>このポケモンにタイプを追加する</h3>  
  <form action="/pokemon/insert/type" method="post">
    追加するタイプ：<input type=text" name="type" size="8">
    <input type="hidden" name="id" value="<%= data[0].id %>">
    <input type="submit" value="追加"><br>
  </form>
  <p>
  <details>
    <summary>使い方</summary>
      <p>左のボックスから更新したい要素を選択し、右のボックスに値や名前を入力する。</p>
      <p>更新ボタンを押すと選択した要素が更新される。</p>     
  </details>
  </p>
  <hr>
  <h2>このポケモンを削除する</h2>
  <form action="/pokemon/delete">
    <input type="hidden" name="id" value="<%= data[0].id %>">
    <input type="submit" value="削除">
  </form>
  <p>
  <details>
    <summary>使い方</summary>
      <p>削除ボタンを押すと、一覧から削除される。</p>
  </details>
  </p>
</body>
</html>