<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>pokemon一覧</title>
</head>
<body>
  <a href="/">トップページ</a>
  <a href="/pokemon/page/insert">ポケモンを追加する</a>
  <a href="/pokemon">ページの更新</a>
  <hr>
  <h2>ポケモン一覧</h2>  
  <hr>
  <form action="/pokemon">
    <details>
      <summary>並び替え・絞り込み</summary>
        <input type="radio" name="order" value="number" checked>番号順
        <input type="radio" name="order" value="name">名前順
        <input type="radio" name="order" value="id">追加日順
        <input type="checkbox" name="desc" id="desc">
        <label for="desc">降順</label><br>
        表示数：<input type="number" name="top" id="top" size="3">
        <label for="top"></label><br>
        タイプ：<select name="type">
          <option></option>
        <% for (let type of types){
             if(type.name != "タイプなし"){ %>
              <option value="<%= type.number %>"><%= type.name %></option>
         <%  } 
           } %>     
        </select><br>
        ポケモン：<input list="pokemon" id="p_name" name="p_name">
        <datalist id="pokemon">
        <% let m = 0;
          for(let row of data){ 
            if(m % 2 == 1){ %>
          <option value="<%= row.name %>"></option>
        <%   } 
            m++;
          }%>
        </datalist><br>   
        <input type="submit" value="検索"><br>
    </details>
  </form>
  <table border=1>
      <tr>
        <td></td>
        <td>図鑑番号</td>
        <td>名前</td>
        <td>タイプ</td>
      </tr>
      <% let i = 1;
        for( let row of data ) { 
          if(i % 2 == 1){ %>
          <tr>
              <td><a href="<%= '/pokemon/edit/' + row.id %>">編集</a></td>
              <td>No.<%= row.number %></td>
              <td><a href="<%= '/pokemon/detail/' + row.id %>"><%= row.name %></a></td>
              <td>
              <% if(row.type != "タイプなし") { %>
                <%= row.type %>
              <% } %>            
      <%  } else { 
                if(row.type != "タイプなし") { %>
                  <%= row.type %>
          <%    }  %>
             </td>
            </tr>
         <%  }
            i++;
        } %>
  </table>
  <hr>
  <details>
    <summary>使い方</summary>
      <details>
        <summary>並び替え・絞り込み</summary>
          <p>一覧の表示は、デフォルトでは番号順（昇順）になっている。</p>
          <p>下記の変更は検索ボタンを押すことで反映される。</p>
          <p>並び替えについて</p>
            <ul>
              <li>「名前順」にチェックを入れると名前順に表示されるよう変更できる。</li>
              <li>「降順」にチェックを入れると降順に表示されるように変更できる。</li>
            </ul>
            <p>表示数について</p>
            <ul>
              <li>「表示数」の右にあるボックスに数字を入れることで表示数を制限できる。</li>
            </ul>
            <p>絞り込みについて</p>
            <ul>
              <li>「タイプ」の右にあるボックスからタイプを選択するとそのタイプを持つポケモンのみ表示することができる。</li>
              <li>「ポケモン」の右にあるテキストボックスにポケモンの名前を入力すると、そのポケモンのみ表示される。</li>
            </ul>
      </details>
      <details>
        <summary>名前のリンク</summary>
          <p>ポケモンの名前を押すことでそのポケモンの詳細ページに飛ぶことができる。</p>
          <p>詳細では、ステータスを確認することができる。</p>
      </details>
      <details>
        <summary>編集リンク</summary>
          <p>編集リンクを押すことでそのポケモンの編集ページに行くことができる。</p>
          <p>編集ページでは、そのポケモンの情報について更新や削除ができる。</p>
      </details>
  </details>
  <hr>
  <a href="/">トップページ</a>
</body>
</html>