<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>status</title>
</head>
  <a href="/pokemon">/pokemon</a><br>
<body>
  <table>
    <% for( let row of data ) { %>
      <tr>No.<%= row.number %></tr>
      <tr><%= row.name %></tr>
      <tr><%= row.type1 %>
           <% if( row.type2 != null ){ %>
              ・<%= row.type2 %>
           <% } %>
      </tr>
        <tr>
            <td>攻撃</td>
            <td><%= row.attack %></td>
        </tr>
        <tr>
            <td>防御</td>
            <td><%= row.defence %></td>
        </tr>
        <tr>
            <td>HP</td>
            <td><%= row.hp %></td>
        </tr>
    </table>
  <% } %>
</body>
</html>